/* ---------------------HEADER--------------------- */

body {
    max-width: 600px;
    margin: 20px auto;
    /* margin: 30px 30px 0px 30px; */
    font-family: "Geist Mono", monospace;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
}

* {
    color: var(--text); 
    line-height: 1.6;  
    letter-spacing: .025em;   
    --text: #212121;
    --bg: #f9f9f9;}
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .name {
    font-size: 22px;
    font-weight: lighter;
}

.header .menu {
    display: flex;
    gap: 15px;
}

.header .menu a {
    text-decoration: none;
    color: #2E2E2E;
    font-size: 22px;

}

.header .menu a:hover {
    color: #84B693;
}


/* ---------------------CONTENT--------------------- */

h2 {
    font-size: 20px;
    align-self: left;
}

main {
    margin: 30px 600px 0px 600px;
    display: flex;
    flex-direction: column;
}

.bio {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.now, .post {
    font-size: 14px;
}

img {
    width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

.now {
    width: 100%;
    border: 1px solid #bababa;
    padding: 15px;
    margin: auto;
}

.post {
    width: 100%;
    border: 1px solid #bababa;
    padding: 15px;
    margin: auto;
}

div small {
    color: #84B693;
}

/* ---------------------FOOTER--------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-size: 12px;
    font-weight: light;
    text-align: right;
}

.circle1 {
    width: 20px;
    height: 20px;
    background-color: #84B693;
    border-radius: 50%;
    display: inline-block;
}

.circle2 {
    width: 20px;
    height: 20px;
    background-color: #DDAAD7;
    border-radius: 50%;
    display: inline-block;
}

.circle3 {
    width: 20px;
    height: 20px;
    background-color: #2E2E2E;
    border-radius: 50%;
    display: inline-block;
}

.circle4 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
}