/* ---------------------HEADER--------------------- */

body {
    margin: 30px 50vh 0px 50vh;
    font-family: "Geist Mono", monospace;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .name {
    font-size: 20px;
    font-weight: lighter;
}

.header .menu {
    display: flex;
    gap: 15px;
}

.header .menu a {
    text-decoration: none;
    color: #2E2E2E;
    font-size: 15px;

}

.header .menu a:hover {
    color: #84B693;
}


* {
  color: var(--text); 
  line-height: 1.6;  
  letter-spacing: .025em; 
  font-family: "Geist Mono", monospace;}

/* ---------------------CONTENT--------------------- */

main {
    margin: 30px 30px 30px 30px;}

.project h2 {
    font-size: 20px;
    text-align: justify;
    max-width: 650px;
    /* margin: 0px 100px 10px 100px; */
}

iframe {
    width: 100%;
    height: 60vh;
    border: none;
  }

h2 {
    font-size: 20px;
    align-self: left;
    margin: 25px auto;
    max-width: 650px;
    /* margin: 0px 100px 10px 100px; */
}

.subtitle {
    font-size: 10px;
    text-align: center; 
    max-width: 650px;
}

.project {
    border: 1px solid;
    border-color: rgb(197, 197, 197);
    padding: 25px;
    /* margin: 0px 100px 30px 100px; */
    margin: 20px auto;
    max-width: 100%;
    font-size: 14px;
    text-align: justify;
  }

.project small {font-size: 20px;}

small {color: #000000; background-color: #84b69332;}

.image-container {
    text-align: center;
    margin: 20px auto;
    max-width: 650px;
}

.image-container img {
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(155, 155, 155, 0.2);
}

.image-container figcaption {
    font-size: 12px;
    color: #555;
    margin-top: 8px;
    text-align: center;
}


/* ---------------------FOOTER--------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
    font-size: 12px;
    font-weight: light;
    text-align: right;
}

.circle1 {
    width: 20px;
    height: 20px;
    background-color: #84B693;
    border-radius: 50%;
    display: inline-block;
}

.circle2 {
    width: 20px;
    height: 20px;
    background-color: #DDAAD7;
    border-radius: 50%;
    display: inline-block;
}

.circle3 {
    width: 20px;
    height: 20px;
    background-color: #2E2E2E;
    border-radius: 50%;
    display: inline-block;
}

.circle4 {
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
}